body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4em;
  margin: 0px;
  width: 100%;
}

h1 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;

  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

a {
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

div#banner {
  width: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

a#title {
  text-decoration: none;
}

span#title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
}

#title .code {
  color: rgb(119, 156, 255);
}

#title .on {
  color: rgb(77, 116, 224);
}

#title .chain {
  color: rgb(27, 62, 156);
}

#upload {
  text-align: center;
  color: grey;
  font-size: 0.8em;
  display: inline-block;
}

#search-container {
  margin-left: auto;
  margin-right: 30px;
}

#search-input {
  box-sizing: border-box;
  font-size: 0.7em;
  height: 32px;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5px;
}

#search-button {
  position: relative;
  top: 0px;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#search-button:hover {
  background: #ccc;
}

#parent-back {
  display: none;
  text-decoration: none;
}

#spinner {
  margin: auto;
  padding: 50px;
  width: 100px;
  height: 100px;
  display: none;
}

#repos {
  display: none;
  width: 980px;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
}

#repos-tabs {
  display: flex;
  width: 980px;
  max-width: 100%;
  margin: auto;
}

.tab {
  padding: 10px;
  border: 1px solid rgba(197, 203, 209, 0);
  border-bottom-width: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-selected {
  border: 1px solid rgb(197, 203, 209);
  border-bottom-width: 0px;
  background-color: #eaecef;
}

.tab a {
  text-decoration: none;
  color: #586069;
}

.tab-selected a {
  color: #24292e;
}

.tab a:hover {
  color: #24292e;
}

#metanet-node {
  display: none;
  padding-top: 30px;
  padding-bottom: 20px;
  /*width: 980px;*/
  margin: auto;
}

#node-banner {
  background-color: #f5f5f5;
  margin-left: 0px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid rgb(197, 203, 209);
  border-bottom: 1px solid rgb(197, 203, 209);
}

#node-banner-display {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 980px;
  max-width: 100%;
}

div#node-title {
  width: 600px;
  margin-right: auto;
  margin-left: 5px;
}

div#node-name {
  font-size: 1.2em;
}

#node-version {
  font-family: monospace;
  color: grey;
}

div#node-txid, div#node-publickey {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: monospace;
  color: grey;
  font-size: 0.6em;
}

div#money-button-container {
  width: 200px;
  margin-left: auto;
  margin-right: 5px;
}

#clone-container {
  box-sizing: border-box;
  width: 980px;
  max-width: 100%;
  margin: auto;
  font-size: 0.8em;
  color: grey;
  border: 1px solid rgb(197, 203, 209);
  border-radius: 5px;
  margin-top: 20px;
}

#clone {
  padding: 10px;
}

#clone input {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 1em;
  color: grey;
  padding-top: 5px;
  width: 780px;
}

table {
  box-sizing: border-box;
  margin: auto;
  width: 980px;
  max-width: 100%;
  border: 1px solid rgb(197, 203, 209);
  border-collapse: collapse;
}

tr {
  box-sizing: border-box;
  width: 980px;
  max-width: 100%;
}

tr:hover {
  background: #f5f5f5;
}

td {
  padding: 10px;
}

td.txid {
  font-family: monospace;
  color: grey;
  font-size: 0.8em;
}

div#readme {
  box-sizing: border-box;
  width: 980px;
  max-width: 100%;
  margin: auto;
  border: 1px solid rgb(197, 203, 209);
  border-radius: 5px;
  display: none;
  font-size: 0.8em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

div#file-data {
  width: 980px;
  max-width: 100%;
  margin: auto;
  border: 1px solid rgb(144, 162, 179);
  display: none;
  font-size: 0.9em;
  /*padding: 5px;*/
  padding-top: 0px;
}

#img-data-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: none;
}

#img-data {
  max-width: 980px;
}

pre#text {
  overflow: auto;
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
  margin-bottom: 0px;
  display: none;
}

#footer-message {
  color: grey;
  text-align: center;
  font-size: 0.8em;
}

#repos {
  margin-top: 40px;
}